Backend/dist
Backend/node_modules
Backend/prisma/migrations
Backend/.env
Backend/package-lock.json



blockchain/artifacts
blockchain/build
blockchain/cache
blockchain/package-lock.json
blockchain/node_modules
blockchain/typechain-types/


frotend/node_modules
frotend/package-lock.json
frontend/.vite/
frontend/.eslintcache


public/README.md 
credentials.txt